<div th:fragment="footer">
    <style>
    .site {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }
    .site_content {
      flex: 1;
    }
    </style>
    <div align="center" class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-5 content">
        <a href="https://vk.com/seniorgoroh" class="d-flex align-items-center text-dark pad text-decoration-none">
            Контакты создателя
        </a><br>
        <a href="/support" class="d-flex align-items-center text-dark pad text-decoration-none">
            Тех.поддержка
        </a>
    </div>
</div>