<div th:fragment="header">
    <style>
    .circle {
        border-radius: 20px;
        text-align: center;
        padding-left: 5;
        padding-right: 5;
        font-size: 16px;
    }
    .pad {
    padding-left: 10px;
    }
    </style>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <img class="pad" src="https://i.postimg.cc/CxHQhDsd/CRM-Icon.png" width="50" height="50"/>
            <span class="fs-4">CRM-MPT</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="/">У вас нету аккаунта?</a>
            <a class="me-3 py-2 btn btn-dark signup-link circle" href="/register">Регистрация</a>
            <a class="me-3 py-2 btn btn-outline-dark signup-link circle" href="/client">Войти</a>
        </nav>
    </div>
</div>